aside{
    padding: 8px;
}

.subMenu {
    margin-left: 10px;
    border-left: 3px solid black;
    padding-left: 1rem;
}

nav > div > p{
    border: 1px solid black;
    padding: 0px 8px;
    cursor: pointer;
    border-radius: 10px;
}