@import "tailwindcss";


li {
    margin-bottom: 2px;
}

input, select {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 2px 0px;
    padding: 8px;
    border-radius: 8px;
}